body, html{
  padding: 0;
  margin: 0;
  background: rgb(240, 240, 240);
}

.header{
  padding: 15px;
  background: rgb(40, 40, 40);
  color: white;
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.content{
  padding: 40px;
  box-sizing: border-box;
}

.card{
  background: rgb(255, 255, 255);
  margin: 5px;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid rgb(100, 100, 100);
  box-sizing: border-box;
}

.table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.table th, .table td{
  padding: 5px;
  border: 1px solid rgb(100, 100, 100)
}

.textInput{
  border: none;
  border-bottom: 2px solid rgb(40, 40, 40);
  background: rgb(240, 240, 240);
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}